<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="pSmarrita.css">
</head>
<body>

    <div class="Loginbox">

        <img src="avatar.png" class="Avatar"> 

        <h1>Recupero password</h1>

        <form id="formlogin">
          

            <p>Email</p>
            <input type="text" name="" placeholder="Inserisci email">

            <a href="#" class="a">Una mail con il link per il recupero dell'account verrà inviata al tuo indirizzo di posta elettronica</a>

            <input type="submit" name="" value="Avanti "><br>

          

        </form>

    </div>




</body>
</html>