:root{
    --primaryDark:#ffffff;
    --edit:#77da64;
    --alert:#d22a1e;
}
.titoloPagina{
    text-align: center;
}
td, th{
    text-align: center;
}
td img{
    max-height: 4rem;
    width: 5rem;
}
.delete{
    background-color: var(--alert);
}
.btn{
    color: var(--primaryDark);
    border-radius: 1rem;
    padding: 0 1rem;
}
.edit{
    background-color: var(--edit);
   
}

#headerVis{
    display: inline-block;
}
.alarm{
    background-color: var(--alert);
}
.accBody{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-end;
}
.casellaForm{
    display: flex;
    flex-direction: column;
}
body.container-fluid{
    width: 100vw;
    padding: 0;
}
/* STYLE DEI FORM DI UPDATE */  


.formAgg{
    display: none;
    padding: 2rem 0;
    background-color: var(--dark);
    color: var(--light);
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 0 1rem;
    overflow-y: hidden;
    overflow: visible;
    transform: translate(-50%, -50%);
}
.close{
    position: absolute;
    left: 80vw;
    top: -2vh;
}


