@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro&display=swap');

:root{
    --primaryDark:#ffffff;
    --edit:#77da64;
    --alert:#d22a1e;
    --dark: #3b3a3c;
    --logoGreen:#8dc63f;
    --verdeGiallo:#9dc119;
    --light:#e7eecd;
    --sfumatino: rgba(255, 255, 255, 0.8);
    --font-header: 'Source Code Pro', monospace;
    --font-main:'Fira Sans', sans-serif;
}
body{
    font-family: var(--font-main);
}


/* nav header */
nav{
    font-family:var(--font-header) ;
    background-color: var(--dark);
    color: var(--logoGreen);
}
nav button.btn-primary{
    background-color: var(--light);
    border-color: var(--logoGreen);
    color: var(--dark);
}
nav .btn-primary:hover{
    background-color: var(--logoGreen);
    border-color: var(--light);
    color: var(--dark);
}
nav button.btn-alert{
    background-color: var(--verdeGiallo);
    border-color: var(--light);
    color: var(--dark);
}
nav .btn-alert:hover{
    background-color: var(--light);
    border-color: var(--verdeGiallo);
    color: var(--dark);
}


.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
a:hover, a::after, a{
    color: inherit;
    text-decoration: none;
}
#nomeAzienda{
    margin: 0.5rem 0;
    text-align: center;
}
#imgLogo{
    background-color: var(--light);
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    max-width: 150px;
}

/* bottoni */
button.btn{
    margin: 0.2rem;
    color: var(--primaryDark);
    border-radius: 1rem;
    padding: 0 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
/* icone */
i{
    min-width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* main */
main{
    min-height: 80vh;
}

.container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* footer */
.footer{
    width: 100%;
    background-color: var(--logoGreen);
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 0 1rem;
    
}


.footer-heading{
    
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    

}


.footer-heading h1{
    margin-bottom: 2rem;
}


.footer-heading a{

    text-decoration: none;
    margin-bottom: 0.5rem;


}

.footer-heading a:hover{

    color: white;
    transition: 0.3s ease-out;
}

@media  (min-width: 820px) {
    .footer{
        padding-top: 0.5rem;
        
    }
    
}

@media (min-width: 1150px) {
    .footer{
        justify-content: center;
    }
    
}

.footer-container{
 height: 10%;   


}