
body{
    background-image: url("../imgs/SfondoLogin.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    /* font-family: sans-serif; */
}
main{
    position: relative;
    height: 101vh;
}

.Loginbox{
    width: 420px;
    background:#9dc119;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 1rem;
}

.Avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: -38px;
    left:calc(50% - 30px);
}

.Loginbox h1{
    
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    margin-top: 5%;
}

.Loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}


.Loginbox input{
    width: 80%;
    margin-bottom:  20px;
}



.Loginbox input[type="email"], input[type="password"], input[type="text"], input[type="date"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}


.Loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    color: rgb(65, 58, 58);
    font-size: 18px;
    border-radius: 20px;
}


.Loginbox input[type="submit"]:hover
{
      cursor: pointer;
      background: #ffc107;
      color: #000;
}

.Loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(65, 58, 58);
}

.Loginbox a:hover
{
    color: #ffc107
}

#formlogin, #formRegistrazione{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

