<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>

<body class="body">
    <header></header>
    <main>
     <!-- qui di seguito c'è il div dedicato al banner -->
     <div class="Banner"></div>
     

     <div class="Calendario"></div>


      <!-- LOGIN -->
     
       <div class="Login">

           
           <div class="col">
                <input class="col campo" type="text"  placeholder="Nome utente" aria-label="Username">
           </div> 
        
           <div class="col">
                 <input type="text" class="campo" placeholder="Password" aria-label="Pass">
           </div>
            
            
           <div class="col">
                 <button class="btn" style="width: 80px;" type="button">
                 LOGIN
                </button>
           </div>


        </div>


        
    </main>
    <footer></footer>
</body>
</html>